<?xml version="1.0"?>
<assembly xmlns="http://maven.apache.org/plugins/maven-assembly-plugin/assembly/1.1.2"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/plugins/maven-assembly-plugin/assembly/1.1.2 http://maven.apache.org/xsd/assembly-1.1.2.xsd
http://maven.apache.org/plugins/maven-assembly-plugin/assembly/1.1.2 ">

  <id>module</id>

  <formats>
    <format>jar</format>
  </formats>

  <includeBaseDirectory>false</includeBaseDirectory>

  <dependencySets>
    <dependencySet>
      <outputDirectory/>
      <useProjectArtifact>true</useProjectArtifact>
      <includes>
        <include>vn.edumall.spark.kudu:eda-customers:*</include>
      </includes>
    </dependencySet>
    <!--<dependencySet>
      <outputDirectory/>
      <useProjectArtifact>true</useProjectArtifact>
      <includes>
        <include>org.mariadb.jdbc:mariadb-java-client:*</include>
      </includes>
      <scope>provided</scope>
    </dependencySet>-->
  </dependencySets>

  <fileSets>
    <fileSet>
      <directory>etc</directory>
      <outputDirectory/>
      <filtered>false</filtered>
      <excludes>
        <exclude>driver-log4j.properties</exclude>
      </excludes>
    </fileSet>
  </fileSets>

</assembly>
